body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.remember-forgot{
    display: flex;
}