body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.remember-forgot{
    display: flex;
    gap: 20px;
    align-items: center;
}
.remember-me-button{
    display: flex;
}
.username{
    width: 100%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.password{
    width: 100%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
button{
    background-color: lightblue;
    border: none;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(42, 45, 129);
}
